#!/usr/bin/make -f

# Uncomment this to turn on verbose mode. 
export DH_VERBOSE=1

# Let's get failing tests' stdout and stderr so we have some information when
# a build fails
export VERBOSE=1

%:
	dh $@ --with autoreconf

override_dh_autoreconf:
	gtkdocize --copy
	dh_autoreconf

override_dh_auto_test:
	echo "Tests disabled"

